<div class="footer">
    <div class="container">
            <a href="https://www.linkedin.com/in/shahid-afridi-b092a3185/" target="_blank">
                <i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/shahid.ahamad.1291" target="_blank">
                <i class="fab fa-facebook-f"></i></a>
            <a href="https://github.com/shahidahamad113" target="_blank">
                <i class="fab fa-github"></i>  </a>
            <a href="https://www.instagram.com/s_ahamad113/" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>Created By {{ name }}</p>
    </div>
</div>
</body>
<script src="../js/server.js"></script>
</html>