<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="icon" href="img/kisspng-weather-forecasting-snow-meteorology-clip-art-sol-5ac8920c5be941.5884032215230940283765.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/" class="logo">Forecast</a>
        <label for="toggle"><i class="fas fa-bars"></i></label>
        <input name="toggle" id="toggle" type="checkbox">
        <ul>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>