{{>header}}
<div class="container">
    <div style="text-align: center;padding:1rem 1rem">
        <h1>Something went wrong? Try again</h1>
        <p>Created By {{ name }}</p>
    </div>
</div>
{{>footer}}